@import url(https://fonts.googleapis.com/css?family=Merriweather);
body {
    max-width: 100vw;
    margin: auto;
    font-family: Merriweather;
}

.navbarsize {
    width: 100%;
    height: 60px;
}

nav {
    max-width: 100vw;
    overflow: hidden;
    height: 60px;
    background-color: #2e2e2e;
    ;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}

nav a {
    list-style-type: none;
    color: #f8f8f8;
}

.nav-icon {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav span.nav-icon:hover {
    background: #00939C;
}

.navbar-fixed {
    max-width: 100vw;
    top: 0;
    position: fixed;
}

header {
    max-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    align-content: center;
    background-image: url('../img/header.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header::before {
    max-width: 100vw;
    width: 100vw;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #293A43;
    opacity: .5;
}

.buttons {
    text-align: center;
    z-index: 0;
    width: 100vw;
}

header .buttons h1 {
    font-size: 5rem;
    color: #ffffff;
}

.buttons a {
    color: #ffffff;
    border-radius: 5px;
    font-size: 40px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f0650d;
    box-shadow: 0 3px #974c0d;
    box-sizing: content-box;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all ease 0.1s;
}

a:hover {
    filter: brightness(85%);
}

a:active {
    top: 3px;
    box-shadow: 0 0 #974c0d;
    outline: none;
    border: none;
    overflow: hidden;
}

.container {
    max-width: 100vw;
    width: 100vw;
    background-color: #ffffff;
    display: grid;
}

section.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 25px;
    background-color: #ffffff;
}

.introduction {
    grid-column: 1/5;
    grid-row: 1/2;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    padding: 10px 10px;
    background-color: #fdfdfd;
    box-shadow: 1px 1px 2px 3px #ccc;
}

.introduction-text {
    grid-column: 1/2;
}

.introduction-img {
    height: 40vh;
    grid-column: 2/3;
    border-radius: 5px;
    background-image: url('../img/me.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.why-me {
    grid-column: 2/4;
    text-align: center;
    margin: 20px 0;
    padding: 0;
    font-size: 50px;
}

.why-me h1 {
    padding: 0;
    margin: 0;
}

.schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    grid-column: 1/3;
    grid-row: 3/4;
}

.schedule-img {
    height: 40vh;
    background-image: url('../img/schedule.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.tip {
    margin: 0 10px;
    grid-column: 3/6;
    grid-row: 3/4;
}

.tip-img {
    height: 40vh;
    background-image: url('../img/contact.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.online-img {
    height: 40vh;
    background-image: url('../img/skype.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.online {
    margin: 0 10px;
    grid-column: 1/3;
    grid-row: 4/5;
}

.on-home-img {
    height: 40vh;
    background-image: url('../img/home-lesson.png');
    background-size: cover;
    background-position: 0 45%;
    background-repeat: no-repeat;
}

.on-home {
    margin: 0 10px;
    grid-column: 3/6;
    grid-row: 4/5;
}

.reviews>hr {
    margin: 0 20px;
}

.cards {
    grid-gap: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 20px;
    justify-content: center;
}

.card {
    display: grid;
    box-shadow: 1px 1px 2px 3px #ccc;
}

.card>h3 {
    padding: 0 15px;
}

.card-first-img {
    height: 40vh;
    background-image: url('../img/review1.jpg');
    grid-row: 1/2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-second-img {
    height: 40vh;
    background-image: url('../img/review2.jpg');
    grid-row: 1/2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-third-img {
    height: 40vh;
    background-image: url('../img/review3.jpg');
    grid-row: 1/2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-container {
    height: 80vh;
    width: 100vw;
}

#contacts {
    width: 80vw;
    margin: 30px auto;
    border-radius: 10px;
    padding: 5px 0;
    background-color: #f8f8f8;
    justify-content: center;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-auto-rows: 500px;
    box-shadow: 1px 3px 2px #ccc;
}

.img-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.img-form img {
    height: auto;
    max-height: 450px;
    max-width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form>input[type="submit"] {
    width: 120px;
}

.form-header {
    align-self: flex-start;
    font-weight: bold;
    font-size: 30px;
}

.inpt {
    display: flex;
    flex-direction: row;
}

#ajaxform input:placeholder-shown+span:after {
    content: '';
}

input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
    color: #8b0000;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #009000;
}

.validity {
    margin: 2px;
}

input[type="submit"] {
    color: #fbfff0;
    border-radius: 5px;
    font-size: 40px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f0650d;
    box-shadow: 0 3px #974c0d;
    box-sizing: content-box;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all ease 0.1s;
}

input[type="submit"]:hover {
    filter: brightness(95%);
}

span.inpt input, input[type="textarea"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 35vw;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    border-radius: 5px;
}

input[type="submit"]:active {
    top: 3px;
    box-shadow: 0 0 #974c0d;
    outline: none;
    border: none;
    overflow: hidden;
}

footer {
    max-width: 100vw;
    width: 100vw;
    height: 35vh;
    background-color: #2e2e2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fbfff0;
}

footer h2 {
    margin: 0;
}

.footer-social-icons {
    text-align: center;
}

ul.social-icons {
    padding: 0;
}

.social-icons li {
    padding: 0 10px;
    display: inline;
}

.social-icons a {
    color: #fff;
}

.fa-facebook {
    padding: 10px 14px;
    transition: .5s;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding: 10px 12px;
    transition: .5s;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube {
    padding: 10px 14px;
    transition: .5s;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-google-plus {
    padding: 10px 9px;
    transition: .5s;
}

.fa-google-plus:hover {
    background-color: #e25714;
}

.fa-github {
    padding: 10px 9px;
    transition: .5s;
}

.fa-github:hover {
    background-color: #32ad4e;
}

@media (max-width: 1084px) {
    h1 {
        padding: 0 20px;
        font-size: 100px;
    }
    .buttons a {
        font-size: 30px;
    }
}

@media (max-width: 1028px) {}

@media (max-width: 924px) {
    header .buttons h1 {
        padding: 0 20px;
        font-size: 60px;
    }
    span.inpt input, input[type="textarea"] {
        width: 60vw;
    }
    .content {
        text-align: center;
    }
    .introduction {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .introduction-img {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .introduction-text {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .content {
        text-align: center;
    }
    .schedule {
        grid-row: 3/4;
        grid-column: 1/5;
    }
    .tip {
        grid-row: 4/5;
        grid-column: 1/5;
    }
    .online {
        grid-column: 1/5;
        grid-row: 5/6;
    }
    .on-home {
        grid-column: 1/5;
        grid-row: 6/7;
    }
    .why-me h1, .why-me h3 {
        font-size: 55px;
        padding: 0;
        margin: 0;
    }
    .buttons a {
        font-size: 25px;
    }
    .card {
        margin: 0 20px;
    }
    .card-first {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .card-second {
        grid-column: 1/4;
        grid-row: 2/3;
    }
    .card-third {
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .img-form {
        visibility: hidden;
    }
    #contacts {
        grid-template-columns: 1fr 0;
        min-height: auto;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    form {
        grid-column: 1;
        grid-row: 1;
    }
    .form-header {
        font-size: 40px;
    }
    .img-form {
        padding: 0;
        margin: 0;
    }
    .card-first-img {
        background-position: center top;
    }
    .card-second-img {
        background-position: center top;
    }
    .card-third-img {
        background-position: center top;
    }
}

@media (max-width: 666px) {
    .why-me h1, .why-me h3 {
        font-size: 30px;
    }
    .img-form {
        padding: 0;
        margin: 0;
    }
    nav a {
        font-size: 15px;
    }
    form {
        font-size: 25px;
    }
    .form-header {
        font-size: 25px;
    }
    span.inpt input, input[type="textarea"] {
        width: 70vw;
        font-size: 15px;
    }
}