body {
  margin: 0;
}
header {
  min-height: 100vh;
  background-color: grey;
  text-align: center;
  display: grid;
  align-content: center;
}
header h1 {
  font-size: 150px;
}
button {
  margin: 0 30px;
  min-width: 150px;
  min-height: 60px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 40px 0;
  background-color: lightgrey;
  box-shadow: 0 3px darkgrey;
  box-sizing: content-box;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: all ease 0.1s;
}
button:hover {
  opacity: 0.75;
}
button:active {
  top: 6px;
  box-shadow: 0 0 #ffffff;
  outline: none;
  border: none;
  overflow: hidden;
}
.container {
  min-height: 100vh;
  background-color: lightgray;
}
section.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3.1fr);
  grid-gap: 10px;
  padding: 20px;
}
section.content div:nth-child(1) {
  grid-column: 1/3;
}

section.content div:nth-child(5) {
  grid-column: 2/4;
}
section.content div:nth-child(6) {
  grid-column: 4;
  grid-row: 2/4;
}
section.content div {
  border: 3px solid black;
  min-height: 30vh;
  background-color: white;
  font-size: 400%;
  display: grid;
  text-align: center;
  align-content: center;
  transition: color 1s, background-color 1s, border-color 1s, transform 10s;
  cursor: pointer;
}
section.content div:hover {
  background-color: black;
  color: white;
  border-color: lightgrey;
}
#contacts {
  min-height: 45vh;
  background-color: grey;
  justify-content: center;
  display: grid;
}
form {
  text-align: center;
}
form span {
  font-size: 30px;
}
input[name="name"] {
  font-size: 150%;
  margin-top: 10px;
  padding-left: 5px;
  min-height: 40px;
  min-width: 150px;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  float: left;
}
input[name="email"] {
  float: left;
  font-size: 150%;
  padding-left: 5px;
  min-height: 40px;
  min-width: 200px;
  border: 2px solid #ccc;
  background-color: #f8f8f8;
  margin: 5px 0;
}
textarea {
  float: left;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  padding-top: 4px;
  padding-left: 10px;
  font-size: 16px;
  resize: none;
  min-height: 100px;
  min-width: 300px;
}
input[type="submit"] {
  min-width: 30px;
  min-height: 20px;
  font-size: 15px;
  background-color: lightgrey;
  box-shadow: 0 3px darkgrey;
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: content-box;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: all ease 0.1s;
  float: right;
  margin-top: 5px;
}
input {
  font-size: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
}

@media (max-width: 1084px) {
  h1 {
    padding: 0 20px;
    font-size: 100px;
  }
  section.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  section.content div:nth-child(1) {
    grid-column: 1/3;
  }
  section.content div:nth-child(5) {
    grid-column: initial;
  }
  section.content div:nth-child(6) {
    grid-row: initial;
    grid-column: 1/3;
  }
  section.content div:nth-child(9) {
    grid-row: initial;
    grid-column: 1/3;
  }
  button {
    margin: 10px 15px;
    width: 200px;
    height: 50px;
    font-size: 30px;
  }
}
@media (max-width: 1028px) {
  section.content div {
    padding: 10px 10px;
  }
}
@media (max-width: 724px) {
  h1 {
    padding: 0 20px;
    font-size: 50px;
  }
  section.content {
    display: grid;
    grid-template-columns: 1fr;
  }
  section.content div {
    min-height: 300px;
  }
  section.content div:nth-child(1) {
    grid-column: initial;
  }
  section.content div:nth-child(5) {
    grid-column: initial;
  }
  section.content div:nth-child(6) {
    grid-row: initial;
    grid-column: initial;
  }
  section.content div:nth-child(9) {
    grid-row: initial;
    grid-column: initial;
  }
  button {
    margin: 10px 15px;
    width: 150px;
    height: 30px;
    font-size: 30px;
  }
}
